bot-temperatura-telegram.json
{
  "name": "teste telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        0
      ],
      "id": "50e9345d-ccb6-4282-8853-35aba5f45f61",
      "name": "Telegram Trigger",
      "webhookId": "7a2f617a-0832-4ef3-866e-0937e5fa0a21",
      "credentials": {
        "telegramApi": {
          "id": "OlozMxWnIyHPAt7V",
          "name": "Telegram account - Lívia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msgRaw = $json.message?.text ?? \"\";\nconst chatId = $json.message?.chat?.id;\n\nfunction stripAccents(s = \"\") {\n  return String(s)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\");\n}\nfunction cleanSpaces(s = \"\") {\n  return String(s).replace(/\\s+/g, \" \").trim();\n}\n\n// Base para análise (sem acento, para facilitar match)\nlet text = cleanSpaces(stripAccents(msgRaw));\nlet lower = text.toLowerCase();\n\n// comandos básicos\nconst cmd = lower.split(\" \")[0];\nif (cmd === \"/start\" || cmd === \"/ajuda\") {\n  return [{ json: { chatId, command: cmd } }];\n}\n\n// aceita \"/tempo cidade\"\nif (lower.startsWith(\"/tempo\")) {\n  text = cleanSpaces(text.slice(6));\n  lower = text.toLowerCase();\n}\n\n// remove pontuação final\ntext = text.replace(/[?!.,;:]+$/g, \"\").trim();\nlower = text.toLowerCase();\n\n// remove “frases de pergunta” comuns\ntext = text\n  .replace(\n    /^(qual|como|me diz|me fale|pode me dizer|vc sabe|você sabe)\\s+/i,\n    \"\",\n  )\n  .replace(/^(o|a)?\\s*(clima|tempo|temperatura)\\s*(atual)?\\s*(em|de)\\s+/i, \"\")\n  .replace(\n    /^qual\\s+(o|a)?\\s*(clima|tempo|temperatura)\\s*(atual)?\\s*(em|de)\\s+/i,\n    \"\",\n  )\n  .trim();\n\n// tenta pegar tudo depois de \"em ...\"\nlet cityPart = text;\nconst m = text.match(/\\bem\\s+(.+)$/i);\nif (m?.[1]) cityPart = m[1].trim();\n\n// remove sufixos tipo “agora/hoje/pfv”\ncityPart = cityPart\n  .replace(/\\b(agora|hoje|por favor|pfv|pls|plz)\\b/gi, \"\")\n  .replace(/[?!.,;:]+$/g, \"\")\n  .trim();\n\n// se veio \"Cidade, MG\" separa UF\nlet city = cityPart;\nlet state = null;\n\nif (cityPart.includes(\",\")) {\n  const [c, rest] = cityPart.split(\",\", 2);\n  city = c.trim();\n  const uf = rest.trim().slice(0, 2).toUpperCase();\n  if (/^[A-Z]{2}$/.test(uf)) state = uf;\n}\n\n// versões finais\nconst cityDisplay = cleanSpaces(city); // pra mostrar\nconst cityApi = cleanSpaces(stripAccents(city)); // pra API\n\n// para o node OpenWeatherMap (padrão: cidade + país)\nconst owmCity = `${cityApi},BR`;\n\nreturn [{ json: { chatId, command: null, cityDisplay, state, owmCity } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "90ba0c8a-c301-4aa9-ae95-992c395970e7",
      "name": "Normalize input"
    },
    {
      "parameters": {
        "cityName": "={{ $json.owmCity }}",
        "language": "pt-br"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        624,
        176
      ],
      "id": "58d916de-488e-4242-926e-1d17604d7672",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "vuq2LO3ZJ4WoRzB2",
          "name": "OpenWeatherMap Lívia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9eb24af-ff7b-40ed-ab1e-8fae772d2ee1",
              "leftValue": true,
              "rightValue": "={{ ($json.cod ?? 0) === 200 }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        176
      ],
      "id": "0cc8c7a8-bc9f-43e2-a4fa-fbe570ad4535",
      "name": "Weather OK?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10f4345e-5810-4272-b07e-a07c54f0b073",
              "name": "chatId",
              "value": "={{ $('Normalize input').item.json.chatId }}",
              "type": "string"
            },
            {
              "id": "292a2251-37cf-4338-bc3a-203f0e17a52d",
              "name": "replyText",
              "value": "={{\"🌡️ Clima em \" + $json.name+ \"\\nTemperatura: \" + Math.round($json.main.temp) + \"°C\"+ \" (sensação \" + Math.round($json.main.feels_like) + \"°C)\"+ \"\\nCondição: \" + $json.weather[0].description+ \"\\nUmidade: \" + $json.main.humidity + \"%\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        80
      ],
      "id": "7de3aaf2-30ca-42ac-aa2a-fed0c36e386b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize input').item.json.chatId }}",
        "text": "Não encontrei essa cidade 😕 Tenta no formato: Cidade, UF (ex.: Uberaba, MG).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        272
      ],
      "id": "fdbea9a6-6fe2-4240-a400-687087875c71",
      "name": "Send error",
      "webhookId": "ba494e51-d08d-4bb0-81bc-8b196169265c",
      "credentials": {
        "telegramApi": {
          "id": "OlozMxWnIyHPAt7V",
          "name": "Telegram account - Lívia"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "429fb90d-03d9-445e-a1a7-b70dddf02873"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e01dd0b-35ae-46f8-a36a-63e8289df398",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/ajuda",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b0f27963-db9d-4281-a937-9bbade5f20a0",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        352,
        -16
      ],
      "id": "30a8d828-deee-41a9-950f-0da0505b4b32",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize input').item.json.chatId }}",
        "text": "={{$json.replyText}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        80
      ],
      "id": "228720fc-1c81-4980-ae40-b2767b9ce576",
      "name": "Send weather",
      "webhookId": "2198aaa2-d9d5-4de8-82c7-6b6b9ede5605",
      "credentials": {
        "telegramApi": {
          "id": "OlozMxWnIyHPAt7V",
          "name": "Telegram account - Lívia"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize input').item.json.chatId }}",
        "text": "Oi! 👋 Eu te digo a temperatura atual de qualquer cidade do Brasil 🌡️  Me mande a cidade (ex.: Belo Horizonte | Uberaba, MG | /tempo Contagem) Se precisar, digite /ajuda 😉",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        -176
      ],
      "id": "5b06d1b8-e7f8-4baa-877b-918436ba71d9",
      "name": "Send /start",
      "webhookId": "4b027af7-c9d9-412f-9c09-76e331e7f1f2",
      "credentials": {
        "telegramApi": {
          "id": "OlozMxWnIyHPAt7V",
          "name": "Telegram account - Lívia"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize input').item.json.chatId }}",
        "text": "Como usar: • Envie o nome da cidade (ex.: Juiz de Fora) • Se der ruim, tente “Cidade, UF” (ex.: Uberaba, MG) • Também funciona: /tempo Cidade",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "3dedb959-14b5-414a-a5bf-bc9f6276680d",
      "name": "Send /ajuda",
      "webhookId": "79705064-a06d-4379-b2ac-3e4043af8c93",
      "credentials": {
        "telegramApi": {
          "id": "OlozMxWnIyHPAt7V",
          "name": "Telegram account - Lívia"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Weather OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather OK?": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send /start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send /ajuda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64d8022c-466c-483e-92d3-fdedc0adc706",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e25262130b8e7a866f12246588291143be16c93c3a77cf011fcdd759075b239"
  },
  "id": "sLmSEu3cHutq52wd",
  "tags": [
    {
      "updatedAt": "2025-06-06T18:19:04.680Z",
      "createdAt": "2025-06-06T18:19:04.680Z",
      "id": "dKoINP0gxqrPocId",
      "name": "development"
    },
    {
      "updatedAt": "2025-09-09T14:39:10.476Z",
      "createdAt": "2025-09-09T14:39:10.476Z",
      "id": "7IojDMNFjVqBBgbK",
      "name": "livia"
    }
  ]
}
